@import "../index.css";

.HideableText {
  font-size: var(--space-small-px);
  text-align: center;
  color: #444;
  margin-bottom: var(--space-small-px);
}

.HideableText--hidden {
  display: none;
}
