.GuessEntry-button {
  height: 50px;
  font-size: 20px;
}

.GuessEntry-button--correct {
  background-color: green;
  color: white;
}

.GuessEntry-button--incorrect {
  background-color: #f00000;
  color: white;
}
