@import "suitcss-base";
@import "suitcss-components-grid";
@import "suitcss-components-button";

:root {
  box-sizing: border-box;
  --Grid-gutter-size: 4px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.Button--default {
  background-color: #eee;
  color: #555;
  border-color: #bbb #bbb #999;
  border-radius: 4px;
}

.Grid--withVerticalGutter > .Grid-cell {
  padding-bottom: var(--Grid-gutter-size) !important;
}
